 <%= render 'form_room' %>

<%= render 'shared/errors', object: @room %>

<%= form_with model: [@hotel, @room] do |f| %>

<div class="mb-3 row">
  <div class="col-sm-2 col-form-label">
    <%= f.label :room_type %>
  </div>

  <div class="col-sm-10">
    <%= f.text_field :room_type, class: 'form-control' %>
  </div>
</div>


<div class="mb-3 row">
  <div class="col-sm-2 col-form-label">
    <%= f.label :link_img %>
  </div>

  <div class="col-sm-10">
    <%= f.text_field :link_img, class: 'form-control' %>
  </div>
</div>


<div class="mb-3 row">
  <div class="col-sm-2 col-form-label">
    <%= f.label :price_per_night %>
  </div>

  <div class="col-sm-10">
    <%= f.text_field :price_per_night, class: 'form-control' %>
  </div>
</div>


<div class="mb-3 row">
  <div class="col-sm-2 col-form-label">
    <%= f.label :bed_type %>
  </div>

  <div class="col-sm-10">
    <%= f.text_field :bed_type, class: 'form-control' %>
  </div>
</div>


<div class="mb-3 row">
  <div class="col-sm-2 col-form-label">
    <%= f.label :number_of_beds %>
  </div>

  <div class="col-sm-10">
    <%= f.text_field :number_of_beds, class: 'form-control' %>
  </div>
</div>


<div class="mb-3 row">
  <div class="col-sm-2 col-form-label">
    <%= f.label :number_of_people %>
  </div>

  <div class="col-sm-10">
    <%= f.text_field :number_of_people, class: 'form-control' %>
  </div>
</div>


<div class="mb-3 row">
  <div class="col-sm-2 col-form-label">
    <%= f.label :booking_type %>
  </div>

  <div class="col-sm-10">
    <%= f.text_field :booking_type, class: 'form-control' %>
  </div>
</div>


<div class="mb-3 row">
  <div class="col-sm-2 col-form-label">
    <%= f.label :food %>
  </div>

  <div class="col-sm-10">
    <%= f.text_field :food, class: 'form-control' %>
  </div>
</div>


<div class="mb-3 row">
  <div class="col-sm-2 col-form-label">
    <%= f.label :comforts %>
  </div>

  <div class="col-sm-10">
    <%= f.text_area :comforts, class: 'form-control' %>
  </div>
</div>


<%= f.submit "Submit!", class: 'btn btn-primary' %>
<% end %>

