<h4>Hotels</h4>

<%= link_to 'Create hotel', new_hotel_path(@deed), class: 'btn btn-primary'%>
<%= paginate @hotels %>

<% @hotels.each do |hotel| %>
  <article class="card" >
    <div class="card-body">
      <h4><%= strip_tags hotel.title %></h4>
      <section class="card-text">
        <p class="my-2"> 
          <%= hotel.stars %> 
        </p>
        <p class="my-2"> 
          <%= truncate strip_tags(hotel.about_hotel), length: 100 %> 
        </p>
      </section>
      <%= link_to 'Show', hotel_path(hotel), class: 'btn btn-primary'%>
      <%= link_to 'Edit', edit_hotel_path(hotel), class: 'btn btn-secondary' %>
      <%= link_to 'Destroy', hotel_path(hotel), class: 'btn btn-danger', data: {method: :delete, confirm: 'Are you sure?'} %>
    </div>
  </article>
<% end %>

<%= paginate @hotels %>
